<!DOCTYPE html>
<html>
<head>
  <title>ㅠㅠ</title>
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
  <link rel="stylesheet" href="https://p0720-shnoah.c9.io/main.css">
  
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <!-- 별점 -->
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="https://p0720-shnoah.c9.io/jquery.raty.js"></script>
  

</head>

<body>

  <%= yield %>

</body>

</html>
